In [29]:
import os
import csv
import path
import pandas as pd

file = "Resources/election_data.csv"

In [30]:
budget_data_df = pd.read_csv(file)
budget_data_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [31]:
budget_data_df.columns

Index(['Voter ID', 'County', 'Candidate'], dtype='object')

In [32]:
budget_data_df["Candidate"].unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [33]:
election_totals_df= pd.DataFrame (budget_data_df["Candidate"].value_counts())
election_totals_df

          Candidate
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630

In [23]:
election_total_df = election_totals_df["Candidate"].sum()
election_total_df

3521001

In [37]:
summary_of_results = election_totals_df["Candidate"]/3521001*100
summary_of_results.head()

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [39]:
election_results_df = pd.DataFrame(summary_of_results)
election_results_df

          Candidate
Khan      63.000011
Correy    19.999994
Li        13.999996
O'Tooley   2.999999

In [46]:
print("Election Results")
print("-----------------")
election_results_df
print("-----------------")
print(f"Winner: )

Election Results

          Candidate
Khan      63.000011
Correy    19.999994
Li        13.999996
O'Tooley   2.999999

In [48]:
print(f"Winner: {election_results_df.iloc[0]}")

Winner: Candidate    63.000011
Name: Khan, dtype: float64

In [49]:
election_results_df.to_csv("Analysis/budget_data_df.csv", index=False, header=True)