In [1]:
# get libraries
import os
import path
import csv
import pandas as pd

In [3]:
file = "Resources/budget_data.csv"

In [4]:
budget_data_df = pd.read_csv(file)
budget_data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [6]:
budget_df = pd.DataFrame(budget_data_df)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [7]:
#total of months in data set
total_of_months = budget_df["Date"].count()
print(f"The Total Amount of Months: {total_of_months}")

The Total Amount of Months: 86

In [9]:
#net total amount of "Profit/Losses over the entire period
Sum_of_profits_and_loss = budget_df["Profit/Losses"].sum()/1000
print(f"The Sum of profits and losses (thousands of dollars): {Sum_of_profits_and_loss} ")

The Sum of profits and losses (thousands of dollars): 38382.578

In [10]:
#average of the changes in profit/Losses over the entire period
average_df = budget_df["Profit/Losses"].mean()/1000
print (f"Average amount of Profit/Losses (thousands of dollars): {average_df}")

Average amount of Profit/Losses (thousands of dollars): 446.3090465116279

In [12]:
#greatest increase in profits (date and amoount) over the entire period
max_df = budget_df[["Date", "Profit/Losses"]].max()
print(f"The Date of the Maximum Profit/Losses: ")
max_df

The Date of the Maximum Profit/Losses:

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [23]:
#the greatest decrease in losses over the entire period
min_df = budget_df[["Date", "Profit/Losses"]].min()
print("The Date of Greatest Loss: ")
min_df

The Date of Greatest Loss:

Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [24]:
#export the file to a CSV file in Analysis
budget_data_df.to_csv("Analysis/budget_data_df.csv", index=False, header=True)